*{
    margin: 0%;
}
body{
    background-color: white;
    
}
header{
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#logolink a{
    color: black;
    text-decoration: none;
 margin: 10px;
 padding: 10px;
 transition: all 1s;
}
a:hover{
    color: black;
    background-color: blue;
    border-radius: 50%;
}
.active{
    border-bottom: solid brown;
    
    
}
section{
    display: flex;
    align-items: flex-start;
    height: 400pt;
    flex-direction: row;
    margin: 100px;
    justify-content: space-between  ;

}
#grad{
    background-image: linear-gradient( to right,blue,purple);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#my{
    text-align: center;
}
   
#img{
    margin: 100pt;
    display: flex;
    justify-content: space-evenly;
    align-content: right;
    
}
.icon{
    display: flex;
    margin: 10px;
    padding: 30px;
    justify-content: space-evenly;
    

}
#main{
    display: flex;
    justify-content: space-around;
    margin: 20px;

}
#a{
    justify-content: space-around;
}


 