*{
    margin: 0;
}
#main{
  
    display: flex;
    justify-content: center;
    align-items: center;
  padding-left: 100px;
  background-color: lightgrey;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid thin;
  width: 600px;
  height: auto;
}
.reg{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    font-size: large;
}
hr{
    margin-top: 50px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
